<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="net461" />
  <package id="Castle.Windsor" version="4.1.0" targetFramework="net461" />
  <package id="Havit" version="1.7.1" targetFramework="net461" />
  <package id="Havit.Extensions.DependencyInjection.Abstractions" version="1.7.2" targetFramework="net461" />
  <package id="Havit.Extensions.DependencyInjection.CastleWindsor" version="1.7.3" targetFramework="net461" />
  <package id="Havit.Services" version="1.7.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net461" />
</packages>